In [1]:
## Set workspace
import os
os.chdir('C:/Users/wang298/OneDrive - WageningenUR/Pyworkspace/Data_analysis_using_Python/Opendata')

In [8]:
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.signal import savgol_filter

In [3]:
import pandas as pd
df = pd.read_csv("FTIR_Spectra_olive_oils.csv")

In [7]:
oil = df.values[:,4:].astype(str).astype(float)

In [6]:
wl = pd.read_csv('wavelength.csv')

In [4]:
df.head()

,Number,Group,Countries,808.5395,810.469,812.3985,814.328,816.2575,818.187,820.1165,...,1869.7935,1871.723,1873.6535,1875.583,1877.5125,1879.442,1881.3715,1883.301,1885.2305,1887.16
0,1,1,Greece,0.103753,0.102204,0.092835,0.080931,0.072028,0.070530,0.075836,...,-0.001227,0.001822,0.003450,0.003179,0.002408,0.002580,0.003744,0.003461,0.002774,0.002253
1,1,1,Greece,0.100083,0.100176,0.092805,0.081545,0.072372,0.070033,0.075910,...,-0.000533,0.003187,0.004933,0.005599,0.005409,0.004715,0.004165,0.002345,0.000598,-0.000700
2,2,1,Greece,0.098488,0.095551,0.086662,0.076001,0.069760,0.070162,0.076346,...,-0.000571,0.002750,0.002734,0.002093,0.002579,0.003089,0.003454,0.003874,0.003860,0.002053
3,2,1,Greece,0.097094,0.094137,0.086487,0.077987,0.072729,0.072255,0.076293,...,-0.002233,0.000554,0.003724,0.004299,0.003683,0.003953,0.004128,0.002877,0.001644,0.000653
4,3,1,Greece,0.098733,0.097378,0.089574,0.080488,0.073952,0.072044,0.075082,...,-0.000705,0.003248,0.005718,0.005902,0.004614,0.003489,0.002996,0.001952,0.001568,0.001747

In [5]:
##Data tranformation

In [9]:
w = 5
p = 2
oil_sg = savgol_filter(oil, w, polyorder = p, deriv=1)

In [10]:
label = df.loc[:, "Group"]
data = pd.DataFrame(oil_sg)